crm.{$BASE_DOMAIN} {
  basic_auth {
    {$CRM_ADMIN_USER} {$CRM_ADMIN_PASSWORD_HASH}
  }
  encode zstd gzip
  reverse_proxy frontend:3000
}

api.{$BASE_DOMAIN} {
  encode zstd gzip
  reverse_proxy api:8000
}

evo.{$BASE_DOMAIN} {
  encode zstd gzip
  reverse_proxy evolution:8080
}
